<section class="profile">
	<section class="vcard">
	<h2>Contact me</h2>
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-grin"></i>Alexander Huth</li>
			<li><i class="fa-li fa fa-compass"></i><a href="{{ site.url }}">alexanderhuth.com</a></li>
			{% if site.theme_settings.phone %}
			<li><i class="fa-li fa fa-bell"></i><a href="tel:{{ site.theme_settings.phone }}">+49 (0)176 50122042</a></li>
			{% endif %}
			{% if site.theme_settings.email_address %}
			<li><i class="fa-li fa fa-envelope"></i><a href="mailto:{{ site.theme_settings.email_address }}" title="{{ site.theme_settings.str_email }}">{{ site.theme_settings.email_address }}</a></li>
			{% endif %}
			{% if site.theme_settings.calendly %}
			<li><i class="fa-li fa fa-calendar-alt"></i><a href="https://calendly.com/{{ site.theme_settings.calendly }}">Schedule with Calendly</a></li>
			{% endif %}
			{% if site.theme_settings.linkedin %}
			<li><i class="fa-li fab fa-linkedin"></i><a href="https://www.linkedin.com/in/{{ site.theme_settings.linkedin }}/" title="{{ site.theme_settings.str_follow_on }}LinkedIn">Alexander on LinkedIn</a></li>
			{% endif %}
			{% if site.theme_settings.twitter %}
			<li><i class="fab fa-li fa-twitter"></i><a href="https://twitter.com/{{ site.theme_settings.twitter }}" title="{{ site.theme_settings.str_follow_on }} Twitter">@alexanderhuth on Twitter</a></li>
			{% endif %}
			{% if site.theme_settings.about_me %}
			<li><i class="fab fa-li fa-user-circle"></i><a href="https://about.me/{{ site.theme_settings.about_me }}">Alexander's about.me</a></li>
			{% endif %}
		</ul>
	</section>
	<section class="portrait">
		<img class="profile" src="/assets/img/profile.jpg" alt="Alexander Huth">
	</section>
</section>