.site-header {
  @extend %padding-small;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  float: left;
  width: 100%;

  a {
    color: $header-link-color;
  }

  .avatar {
    height: 2em;
    width: 2em;
    float: left;
    margin-top: -4px;
    border-radius: 0.2em;
    margin-right: 1em;
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
  }
  
  .site-nav {
    margin: 0;
    padding: 0;
    float: right;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      float: right;
      text-align: right;
    }
    li {
      display: inline;
      margin-right: 1em;
      vertical-align: middle;
      &:last-of-type {
        margin-right: 0;
      }
    }
    @media (max-width: 576px) {
      .nav-contact-regular {
        display: none;
      }
      .nav-contact-small {
        display: inline;
      }
    }
    @media (min-width: 577px) {
      .nav-contact-regular {
        display: inline;
      }
      .nav-contact-small {
        display: none;
      }
    }
  }

    /* Search removed */
}
