// Typography
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif !default;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif !default;
$font-size: 1.10em !default;

// Padding
$padding-large: 20% !default;
$padding-small: 5% !default;
$padding-x-small: 3% !default;

// Colors
$main-color: #fffffe !default;
$highlight-color: #ffd803 !default;
$secondary-color: #e3f6f5 !default;
$tertiary-color: #bae8e8 !default;
$stroke-color: #272343 !default;
$light-stroke-color: #2d334a !default;
$almost-white-color: #eff0f3 !default;

// Random colors
$selection-color: #D4D4D4 !default; // visible when highlighting text
$tags-color: #b0b0b0 !default;
$search-color: #b0b0b0 !default;

// Brand colors
$brand-color: $main-color !default;
$background-color: $main-color !default;
$border-color: rgba(0, 0, 0, 0.1) !default; // rgba recommended if using feature images

// Typography colors
$text-color: $light-stroke-color !default;
$link-color: $highlight-color !default;

// Header colors
$header-link-color: $stroke-color !default;

// Feature image for articles
$feature-image-text-color: $main-color !default;
$feature-image-size: cover !default; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: $tertiary-color !default;
$header-desc-text-color: $main-color !default;
$header-desc-link-color: $highlight-color !default;